# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Katoa.Functional.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\TempProjects\Katoa.Functional\.idea\.idea.Katoa.Functional\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
